// Styles for all of the user pages:
// Login, Signup, Support
page-user {
  .logo {
    padding: 3px 0;
    // min-height: 200px;
    text-align: center;
  }
  .list {
    margin-bottom: 0;
  }
  .input_l {
    border: 1px solid black;
  }
}
