<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>视频通话</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div>
    <button ion-button (click)="setStream()" id="setStreamButton" [disabled]="step!=0">1.setStream(本地视频流绑定)</button>
    <button ion-button (click)="Start()" id="startButton" [disabled]="step!=1">2.socket.io连接</button>
    <button ion-button (click)="Call()" id="callButton" [disabled]="step!=2">3.Call(业务层)</button>
    <button ion-button (click)="answer()" id="answerButton" [disabled]="step!=2">3.ok(业务层)</button>
    <button ion-button (click)="peerconnection()" id="peerconnectionButton" [disabled]="step!=3">4.peerconnection</button>
    <button ion-button (click)="setoffer()" id="setofferButton" [disabled]="step!=4">5.setoffer</button>
    <button ion-button (click)="testmsg()" id="testmsgButton" [disabled]="step<2">测试消息</button>
    <button ion-button (click)="end()" id="endButton" [disabled]="step!=6">结束</button>
  </div>
  <div>
    <video id="localVideo" autoplay muted></video>
  </div>
  <div>
    <video id="remoteVideo" autoplay></video>
  </div>
</ion-content>
